body 
{
margin-top: 80px;
margin-left: 50px;
padding: 30px;
background-size: cover;
font-family: sans-serif;
background-color: aquamarine;
}
header {
background-color: blue;
position: fixed;
left: 0;
right: 0;
top: 5px;
height: 30px;
display: flex;
align-items: center;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: white;
text-decoration: none;
}

form {
    color: blue;
    place-items: center;
}